@import './Skills';
@import './Projects';
@import './Contact';

#details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	border-radius: 2rem;
	background-color: var(--background-color);
	box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
}

@media only screen and (max-width: 700px) {
	#details {
		width: 100%;
		border-radius: 0;
	}
}
