@import './variables';

#footer-main {
	padding: 3.5rem;
	display: flex;
	color: white;

	div {
		margin-left: 10px;

		i {
			margin: 0 0.3rem;
			cursor: pointer;

			&:hover {
				color: var(--accent-color);
			}
		}
	}
}
