@import './variables';

#footer-main {
	padding: 2.5rem;
	@include flexDisplay(column);
	color: white;

	div {
		margin-top: 10px;

		a {
			color: inherit;

			i {
				margin: 0 0.3rem;
				cursor: pointer;

				&:hover {
					color: var(--accent-color);
				}
			}
		}
	}
}
