@import './variables';

.project-details {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;

	h3 {
		font-size: 2rem;
		color: var(--text-color);
		margin-bottom: 0.8rem;
		margin-top: 2rem;
	}

	p {
		font-size: 1.1rem;
		color: var(--text-color);
		margin-bottom: 1.3rem;
		padding: 0 5px;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		h2 {
			text-align: center;
			font-size: 3.5rem;
			color: var(--accent-color);
		}

		.project-back {
			position: absolute;
			left: 0;

			#back-btn-icon {
				font-size: 2.2rem;
			}
		}

		div {
			position: absolute;
			right: 0;

			a {
				text-decoration: none;

				.project-btns {
					color: white;
					margin-left: 5px;
					background-color: var(--accent-color);
				}
			}
		}
	}

	.projects-img-cont {
		@include flexDisplay;
		padding: 2rem;
		border-radius: 10px;
		margin-bottom: 3rem;

		img {
			border-radius: 10px;
			max-height: 85%;
			width: 90%;
		}
	}

	.projects-mid {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.projects-mid-details {
			width: 45%;
		}

		.projects-img-cont {
			margin: 0;
			max-width: 50%;
			padding: 1rem;
		}
	}

	.project-back-bottom {
		background-color: var(--accent-color);
		color: white;
		padding: 0.8rem;
		margin-bottom: 0.5rem;

		&:hover {
			background-color: var(--accent-color);
		}
	}
}

@media only screen and (max-width: 700px) {
	.project-details {
		padding: 2rem;
		header {
			flex-direction: column;

			.project-back {
				top: 0.5rem;
			}

			div {
				display: flex;
				flex-direction: column;
				position: initial;
				margin-top: 1.2rem;
				width: 100%;

				a {
					.project-btns {
						width: 100%;
						margin-left: 0;
						margin-bottom: 0.4rem;
					}
				}
			}
		}

		.projects-img-cont {
			margin-bottom: 1.3rem;
			padding: 1rem;
		}

		.projects-mid {
			flex-direction: column;

			.projects-mid-details {
				width: 100%;
			}

			.projects-img-cont {
				max-width: 100%;
			}
		}
	}
}
