* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: rgb(59, 59, 59);
  --text-color-alt: rgba(65, 65, 65, 0.932);
  --text-color-2: #fff;
  --text-color-button: #fff;
  --text-color-icon: rgba(114, 114, 114, 0.932);
  --accent-color: #726193;
  --accent-color-alt: #e37b7c;
  --card-color: #fff;
  --background-color: #fdfdfd;
  --error-color: rgb(253, 72, 72);
  font-size: 13px;
}

body {
  background-image: linear-gradient(45deg, #726193, #e37b7c);
  font-family: 'Rubik', sans-serif;
}

#header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: var(--text-color-2);
  position: relative;
}

#header-main #header-icons {
  margin-bottom: 1.6rem;
}

#header-main #header-icons i {
  font-size: 1.8rem;
  margin: 0 0.65rem;
  cursor: pointer;
}

#header-main #header-icons i:hover {
  color: var(--accent-color);
}

#header-main h1 {
  font-size: 5rem;
  border-top: 1px solid var(--text-color-2);
  border-bottom: 1px solid var(--text-color-2);
  padding: 0.8rem;
  margin-bottom: 3rem;
}

#header-main p {
  font-size: 1.6rem;
  width: 75%;
  margin-bottom: 6rem;
}

#header-main #header-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 2.2rem;
  font-size: 1.2rem;
}

#header-main #header-more span {
  margin-bottom: 0.8rem;
}
